html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'ssf4_abuketregular';
    src: url('/resources/fonts/ssf4_abuket-webfont.woff2') format('woff2'),
        url('/resources/fonts/ssf4_abuket-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
    font-family: 'ssf4_abuketregular', Arial, sans-serif;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

.overlay {
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(182, 7, 7, 0.5);
    z-index: 3;
}

.overlay .popup {
    position: fixed;
    z-index: 4;
    left: 50%;
    top: 30px;
    width: 376px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.overlay .popup-close {
    position: absolute;
    right: -20px;
    top: -35px;
    cursor: pointer;
    font-size: 35px;
    color: #11100f;
    font-weight: 300;
}

.overlay .popup-info {
    background-color: white;
    background-size: cover;
    padding: 35px 88px 50px 88px;
    color: rgb(177, 8, 8);
    overflow-y: scroll;
    height: 300px;

}

.check {
    align-self: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.start {
    font-family: 'ssf4_abuketregular', Arial, sans-serif;
    align-self: center;
}